span.polizzacerta {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 26px;
    padding-left: 10px;
}

.signup_full .item_brand a img {
    width: 50px !important;
}

.logo {
    font-size: 50px;
}

header .navbar .navbar-brand .logo {
    vertical-align: bottom;
    margin-right: 0.5rem;
    width: 50px;
}

.banner_comefunziona {
    background-image: url(/images/landing/come-funziona-bg.jpg) !important;
    background-size: cover !important;
    width: 100%;
    height: 100% !important;
    min-height: 100vh !important;
}

.loading_overlay .loader_logo .logo {
    width: 50px;
    height: auto;
}

header .navbar .navbar-brand {
    font-weight: 400;
}

.loading_overlay {
    background-color: #222;
}

.navbar_fixed span.polizzacerta {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 26px;
    padding-left: 10px;
}
